{% set menu = [ 
        { "name": "Заголовок 1", "link": "#name1", "active": "active" }, 
        { "name": "Заголовок 2",
        "link": "#name2" }, 
        { "name": "Заголовок 3", "link": "#name3" }, 
        { "name": "Заголовок 4", "link": "#name4" }

    ] 
%}

<div class="aside">
    <nav class="navigation sh-block sh-hidden">
        <ul>
            {% for item in menu %}
            <li>
                <a href="{{item.link}}" class="{% if item.active %}{{item.active}}{% endif %}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <button class="sh-btn"></button>
        <button class="cls-btn"></button>
    </nav>
</div>