.navigation {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  flex-flow: row wrap;

  ul {
    padding-top: 16px;
    // display: flex;
    // flex-direction: row;
    // flex: 0 0 60%;
    // justify-content: space-around;
    margin-bottom: 56px;
    flex-flow: row wrap;
    li {
      a {
        border-bottom: $border-dotted-links;
        &:hover {
          color: $button-text-hover;
        }
        &:active {
          color: $button-text-color-click;
        }
      }
      a.active {
        color: $button-text-color-click;
      }
    }
  }
  .hidden-list {
    @include sidemenu-bg;
    margin-bottom: 0;
    flex: 0 0 100%;
    justify-content: center;
    padding-bottom: 64px;
    li {
      margin-right: 64px;
    }
  }
  .sh-btn {
    @include navigation-sh-btn;
    display: none;
  }
}

.navigation.sh-block.sh-hidden {
  border-top: none;
  .cls-btn {
    display: none;
  }
  .sh-btn {
    display: flex;
  }
  .hidden-list {
    display: none;
  }
}

.navigation.sh-block {
  .cls-btn {
    @include navigation-cls-btn;
  }
  .sh-btn {
    display: none;
  }
}

.aside {
  display: flex;
  background: none;
  flex: 0 0 auto;
  nav.navigation {
    padding-top: 162px;
    background: none;
    align-content: flex-start;
    margin-left: 40px;
    flex: 1 1 256px;
    width: 256px;

    ul {
      display: flex !important;
      flex-direction: column;
      flex: 0 0 100%;
      justify-content: flex-start;
      li {
        padding-bottom: 24px;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          background: $navigation-dots-bg;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 12px;
          left: -40px;
          z-index: 10;
        }
        &:after {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background: $navigation-line-between-items-bg;
          top: 20px;
          left: -37px;
          z-index: 9;
        }
        &:last-child:after {
          height: 0;
          background: none;
        }
      }
    }
    .cls-btn,
    .sh-btn {
      display: none !important;
    }
  }
}
