.announce {
  display: flex;
  justify-content: center;

  .content {
    .announce-desc {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 32px;

      .text-container {
        margin-top: 40px;
      }

      .open-img {
        left: 50%;
        margin-left: 40px;
        top: 0;
      }
    }
    .announce-desc.sh-block.sh-hidden {
      .cls-btn {
        display: none;
      }
      .sh-btn {
        display: block;
        top: 0;
        right: 0;
        @include show-text-button;
      }
      .line {
        display: none;
      }
      p {
        max-height: 136px;
        overflow: hidden;
      }
    }
    .announce-desc.sh-block {
      .sh-btn {
        display: none;
      }
      .cls-btn {
        z-index: 100;
        display: block;
        right: 0;
        bottom: 0;
      }
      .cls-btn-top {
        overflow: hidden;
        right: 0;
        top: 0;
      }
      .line {
        height: 100%;
        top: 0;
        display: block;
      }
    }
  }
}
