{% set header = "Объявления" %}

{% set announce = [
    {   
        "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары, фейерверк, ебутся слоны",
        "src": "./images/black.jpg",
        "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость"
    },
    {   
        "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары, фейерверк, ебутся слоны",
        "src": "./images/black.jpg",
        "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость"
    }
] %}

<section class="announce center">
    <div class="content">
        <h2 class="header">{{header}}</h2>
        {% for item in announce %}
        <div class="announce-desc sh-block sh-hidden item">
            <div class="popup"></div>
            <img class="img-prev" src="{{item.src}}"/>
            <div class="open-img">
                <img src="./images/space/expand.png">
            </div>
            {% include '../textview/textview.njk' %}
        </div>
        {% endfor %}      
    </div>
</section>