.burger-time.burger-left.sh-block.sh-hidden {
  .sh-btn {
    display: flex;
    top: -28px;
    left: 48px;
  }
}

.burger-time.burger-left.sh-block {
  position: relative;
  .cls-btn {
    left: 48px;
    top: -28px;
  }
}

.burger-right {
  position: relative;
}

.burger-right.sh-block.sh-hidden {
  .sh-btn {
    display: flex;
    top: -24px;
    right: 0;
    background: url("../images/r_menu.png") no-repeat 50% 50%;
    z-index: 96;
  }
}

.burger-right.sh-block.sh-hidden {
  .menu-container {
    display: none;
  }
  .cls-btn {
    display: none;
  }
}

.burger-right.sh-block {
  .menu-container {
    position: absolute;
    z-index: 103;
    background: #fff;
    right: 3%;
    width: 280px;
    border-radius: 16px;
    box-shadow: 0px 1px 10px -1px $gray;
    top: -24px;
    .aside {
      //padding-left: 16px;
      .navigation {
        margin-top: 104px;
        width: 240px;
        display: block;
        background: none;
        padding-top: 32px;
        position: relative;
        padding-left: 0;
        padding-top: 0;
        bottom: 64px;
        .sh-btn {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            margin-left: 88px;
            padding-bottom: 16px;
            position: relative;
            &:before {
              position: absolute;
              content: "";
              background: $navigation-dots-bg;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              top: 12px;
              left: -48px;
              z-index: 10;
            }
            &:after {
              position: absolute;
              content: "";
              width: 2px;
              height: 100%;
              background: $navigation-line-between-items-bg;
              top: 20px;
              left: -45px;
              z-index: 9;
            }
            &:last-child:after {
              height: 0;
              background: none;
            }
          }
        }
      }
    }
  }
  .cls-btn {
    display: block;
    z-index: 104;
    background: none;
    border: none;
    right: -24px;
    top: 0px;
    box-shadow: none;
  }
}
