<div class="burger-right sh-block sh-hidden">
    <div class="menu-container">
        {% include '../navigation/navigation.njk' %}
        <button class="cls-btn"></span></button>
    </div>
    <button class="sh-btn"><span class="burger-line"></span></button>
</div>
<div class="burger-time burger-left sh-block sh-hidden">
    <div class="menu-container">
        {% include '../mainmenu/mainmenu.njk' %}
    </div>
    <button class="sh-btn"><span class="burger-line"></span></button>
    <button class="cls-btn"></span></button>
</div>
