{% set announce = [
    {   
        "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары, фейерверк, ебутся слоны",
        "src": "./images/black.jpg",
        "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость"
    }
]
%}

<h2 class="group-header">Поклонники Влодимира Влодимировича</h2>
{% for item in announce %}
    <div class="group-desc sh-block sh-hidden">
        {% include '../textview/textview.njk' %}
        <div class="center"></div>
    </div>
{% endfor %}
<div class="discussions">
    <h3 class="discussions-header">Обсуждения</h3>
    <span class="date">Сегодня</span>
    <h4 class="discussions-preview-header">Ета превью заголовка Обсуждения Ета превью заголовка Обсуждения Ета превью заголовка Обсуждения</h4>
</div>