.group-desc {
  margin-bottom: 64px;
  .text-container {
    position: relative;
    .text-caption {
      padding: 0 160px 24px 0;
    }
    p {
      padding: 0 160px 0 0;
    }
  }
  .center {
    &:before {
      left: 56px;
    }
  }
}
.group-desc.sh-block.sh-hidden {
  .cls-btn {
    display: none;
  }
  .sh-btn {
    top: 0;
    right: 0;
    @include show-text-button;
  }
  .line {
    display: none;
  }
  p {
    max-height: 130px;
    overflow: hidden;
  }
}
.group-desc.sh-block {
  .line {
    top: 0;
  }
  .sh-btn {
    display: none;
  }
  .cls-btn {
    z-index: 100;
    display: block;
    right: 0;
    bottom: 0;
  }
  .cls-btn-top {
    right: 0;
    top: 0;
  }
}

.discussions {
  .date {
    position: relative;
    display: flex;
    color: $gray;
    &:before {
      top: 8px;
      left: 64px;
      position: absolute;
      height: 2px;
      width: 95%;
      content: "";
      background: $side-menu-line-between-items-bg;
    }
  }
  .discussions-preview-header {
    padding: 56px 0 56px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 952px;
    text-overflow: ellipsis;
  }
}
