{%
    set group = 
    {
        "groupName":"Поклонники Влодимира Влодимировича",
        "discussionsHeader": "Обсуждения",
        "commentsHeader": "Комментарии",
        "placeholder": "Как к вам обращаться",
        "caption": "Оставье комментарий",
        "send": "отправить"
    }
%}

{% 
    set announce = 
        [
            {
                "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
                        фейерверк, кричат слоны",
                "src": "./images/black.jpg",
                "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                        заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                        заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость"
            }
        ]
%}

{% set discuss = 
    [
        {
            "date": "Сегодня",
            "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
                    фейерверк, кричат слоны",
            "src": "./images/black.jpg",
            "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
                    нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                    гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                    заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                    понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                    глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                    заболеваний. Тут и генетические
                    нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                    гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                    заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                    понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                    глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                    заболеваний. Тут и генетические
                    нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                    гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                    заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                    понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                    глаза Печкину Маленький рост и карликовость",
            "counter": "1488"
        },
        {   
            "date": "Сегодня",
            "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
                    фейерверк, кричат слоны",
            "src": "./images/black.jpg",
            "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
                    нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                    гормона роста –меньшая из проблем.",
            "counter": "1488"
        }
    ]
%}

<h2 class="header">{{group.groupName}}</h2>
{% for item in announce %}
<div class="group-desc sh-block sh-hidden">
    {% include '../textview/textview.njk' %}
    <div class="center"></div>
</div>
{% endfor %}
{% include '../photo/photo.njk' %}
<div class="discussions section">
    <h3 class="header">{{group.discussionsHeader}}</h3>
    {% for item in discuss %}
        <span class="date">{{item.date}}</span>
        <div class="discussions-item sh-block sh-hidden">            
            {% include '../textview/textview.njk' %}
            <div class="comments sh-block sh-hidden">
                <div class="counter-item show-text">
                    <div class="img"></div>
                    <span class="comments-counter">x {{item.counter}}</span>
                </div>
                <h4 class="caption">{{group.commentsHeader}}</h4>
                <div class="comments-item"></div>
            </div>            
        </div>
    {% endfor %}
    <div class="comment-send">
        <p class="comment-send-caption">{{group.caption}}</p>
        <form action="POST">
            <input type="text" placeholder="{{group.placeholder}}" class="borders">
            <textarea class="borders"></textarea>
            <button class="button borders" type="submit">{{group.send}}</button>
        </form>
    </div>
</div>