{% set announce = [
{
"name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
фейерверк, кричат слоны",
"src": "./images/black.jpg",
"text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость"
}
]
%}

{% set discuss = [
{
"name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
фейерверк, кричат слоны",
"src": "./images/black.jpg",
"text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость"
}
]
%}

<h2 class="group-header">Поклонники Влодимира Влодимировича</h2>
{% for item in announce %}
<div class="group-desc sh-block sh-hidden">
    {% include '../textview/textview.njk' %}
    <div class="center"></div>
</div>
{% endfor %}
<div class="discussions">
    <h3 class="discussions-header">Обсуждения</h3>
    <span class="date">Сегодня</span>
    <div class="discussions-item sh-block sh-hidden">
        {% for item in discuss %}
            {% include '../textview/textview.njk' %}
        {% endfor %}
    </div>
</div>