{% set counter = "99" %}

{% set text = "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
глаза Печкину Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут
и генетические нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых
недостаток гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав
всю боль заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде
Федору, понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и
попадается на глаза Печкину" %}

<section class="about center">
    <div class="content">
        <h2 class="header">О нас</h2>
        <div class="about-desc sh-block sh-hidden">
            <img src="./images/black.jpg" alt="">
            <div class="counter">x {{counter}}</div>
            <div class="text-container">
                <p>{{text}}</p>
                <div class="sh-btn"></div>
                <div class="line"></div>
                <div class="cls-btn cls-btn-top"></div>
                <div class="cls-btn"></div>
            </div>
        </div>
    </div>
</section>