
<div class="text-container section item">
    <h3 {% if item.href %}id="{{item.href}}"{% endif %} class="text-caption show-text">{{item.name}}</h3>
    {% if item.date %}
        <div class="sub">
                <span class="name">{{item.date}}</span><span class="grayline"></span>
            </div>
    {% endif %}
    {% if item.src %}
        {% include '../imageView/imageView.njk' %}
    {% endif %}
    <p>{{item.text}}</p>            
    <div class="sh-btn"></div>                
    <div class="cls-btn cls-btn-top"></div>
    <div class="line"></div>
    <div class="cls-btn"></div>
</div>
