header {
  background: $main-header-bg;
  display: flex;
  justify-content: center;
  border-bottom: $border-line;
  flex-direction: column;

  .content {
    width: 100%;
    .blocks {
      background: $panel-header-bg;
      border-bottom-right-radius: 64px;
      border-bottom-left-radius: 64px;
      .sh-btn {
        display: none;
      }
      .searchpanel,
      .ratings,
      .blind {
        border: $border-style;
        color: $links-color;
      }
      .ratings {
        line-height: 32px;
      }
      .blind:hover,
      .ratings:hover {
        background: $button-panel-hover-bg;
        border: $border-style;
        color: $button-text-hover;
      }
      .blind:active,
      .ratings:active {
        background: $button-active-bg;
        color: $button-text-color-click;
      }
    }
    .header {
      padding: 24px 0 56px 0;
    }
  }
  .burger-time {
    display: none;
  }
}
