header {
  background: $main-header-bg;
  display: flex;
  justify-content: center;
  border-bottom: $border-line;
  flex-direction: column;

  .content {
    width: 100%;
    .blocks {
      position: relative;

      .sh-btn {
        display: none;
      }
      .searchpanel,
      .ratings,
      .blind {
        border: $border-style;
        color: $links-color;
        z-index: 999;
      }
      .searchpanel {
        @include search-panel;
      }
      .ratings,
      .blind {
        @include panel-buttons;
      }
      .ratings {
        line-height: 32px;
      }
      .blind:hover,
      .ratings:hover {
        background: $button-panel-hover-bg;
        border: $border-style;
        color: $button-text-hover;
      }
      .blind:active,
      .ratings:active {
        background: $button-active-bg;
        color: $button-text-color-click;
      }
      .panel-bg {
        position: absolute;
        width: 100%;
        height: 48%;
        background: $panel-header-bg;
        top: 0;
        left: -40px;
        right: 0;
        border-bottom-left-radius: 48px;
        border-bottom-right-radius: 48px;
        z-index: 1;
        padding: 0 40px;
      }
    }
    .header {
      padding: 24px 0 56px 0;
      color: $main-header-color;
    }
  }
  .burger-time {
    display: none;
  }
}
