{% set header_name = "МОУ СОШ 121 им. М. Ж. КНЯЗЯ РУКОЖОПСКОГО" %}

<header>
    <div class="content">
        {% include '../panel/panel.njk' %}
        <h1 class="header">{{header_name}}</h1>
        {% include '../mainmenu/mainmenu.njk' %}
        {% include '../mainslider/mainslider.njk' %}
        
    </div>
    {% include '../sidemenu/sidemenu.njk'%}
    {% include '../mobile_menu/mobile_menu.njk' %}
</header>