{% set menu = [ 
    { "name": "Сведения об образовательной организации", 
    "link": "./sveden.html", 
    "active": "active" 
    }, 
    { "name": "Новости",
    "link": "./news.html" 
    }, 
    { "name": "Информация", 
    "link": "/" 
    }, 
    { 
    "name": "Проекты", 
    "link": "/" 
    }, 
    { 
    "name": "Фотоальбомы", 
    "link":"./photos.html" 
    }, 
    { 
    "name": "Контакты", 
    "link": "/" 
    },
    { "name": "Сведения об образовательной организации", 
    "link": "./sveden.html", 
    "active": "active" 
    }, 
    { "name": "Новости",
    "link": "./news.html" 
    }, 
    { "name": "Информация", 
    "link": "/" 
    }
] 
%}

<nav class="main-menu">
    <ul>
        {% for item in menu %}
        <li>
            <a href="{{item.link}}" class="{% if item.active %}{{item.active}}{% endif %}">{{item.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <ul class="hidden-list"></ul>
    <button class="sh-btn"></button>
    <button class="cls-btn"></button>
</nav>