.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    flex-wrap: wrap;
    li {
      margin: 0 2%;
      a {
        border-bottom: $border-dotted-links;
        &:hover {
          color: $button-text-hover;
        }
        &:active {
          color: $button-text-color-click;
        }
      }
      a.active {
        color: $button-text-color-click;
      }
    }
  }
  .hidden-list {
    display: none;
    @include sidemenu-bg;
    margin-bottom: 0;
    justify-content: center;
    padding: 32px 64px 64px;
    flex-wrap: wrap;
    li {
      margin: 0 32px 24px 32px;
    }
  }
  .sh-btn {
    @include side-menu-sh-btn;
    display: none;
  }
}

.main-menu.sh-block.sh-hidden {
  .hidden-list {
    display: none;
  }
  .sh-btn {
    display: flex;
    align-self: center;
  }
  .cls-btn {
    display: none;
  }
}

.main-menu.sh-block {
  .hidden-list {
    display: flex;
  }
  .cls-btn {
    @include side-menu-cls-btn;
    display: flex;
    align-self: center;
    bottom: -24px;
  }
}
