.treatments {
  display: flex;
  justify-content: center;
  @include treatments-bg;
  padding-bottom: 48px;
  border-top: $border-line;
  .content {
    max-width: 896px;
    .header {
      align-self: flex-start;
    }
    .rules {
      line-height: 32px;
      display: inline-block;
      margin-bottom: 48px;
      color: $links-color;
      &:hover {
        color: $links-hover-color;
      }
      span {
        border-bottom: $border-dotted-links;
      }
    }
    .treatments-form {
      display: flex;
      max-width: 896px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      .treatments-fields {
        flex: 0 0 45%;
        flex-direction: row;
        margin-right: 24px;
        margin-bottom: 24px;
        .borders {
          margin-right: 0;
          border: $border-line;
          &:focus {
            border: $border-line-focus;
          }
        }
        input {
          width: 100%;
          margin-bottom: 24px;
          padding: 20px 16px;
          border: $border-dotted-links;
          background: none;
        }
      }
      textarea {
        flex: 0 0 40%;
        margin-left: 24px;
        margin-bottom: 24px;
        height: 88px;
        padding: 24px 24px;
        resize: none;
        border: $border-line;
        background: none;
        &:focus {
          border: $border-line-focus;
        }
      }
      .button {
        border: $border-style;
        padding: 16px 88px;
        background: $button-bg;
        margin: 0 auto;
      }
    }
  }
}
