.side-menu {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  @include sidemenu-bg;

  border-top: $border-line;
  ul {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex: 0 0 60%;
    justify-content: space-around;
    margin-bottom: 56px;
    flex-flow: row wrap;
    li {
      a {
        border-bottom: $border-dotted-links;
        &:hover {
          color: $button-text-hover;
        }
        &:active {
          color: $button-text-color-click;
        }
      }
      a.active {
        color: $button-text-color-click;
      }
    }
  }
  .sh-btn {
    @include side-menu-sh-btn;
  }
}

.side-menu.sh-block.sh-hidden {
  border-top: none;
  .cls-btn {
    display: none;
  }
  .sh-btn {
    display: flex;
  }
  ul {
    display: none;
  }
}

.side-menu.sh-block {
  .cls-btn {
    @include side-menu-cls-btn;
  }
  .sh-btn {
    display: none;
  }
}
