.side-menu {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  @include sidemenu-bg;

  border-top: $border-line;
  ul {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex: 0 0 60%;
    justify-content: space-around;
    margin-bottom: 56px;
    flex-flow: row wrap;
    li {
      a {
        border-bottom: $border-dotted-links;
        &:hover {
          color: $button-text-hover;
        }
        &:active {
          color: $button-text-color-click;
        }
      }
      a.active {
        color: $button-text-color-click;
      }
    }
  }
  .sh-btn {
    @include side-menu-sh-btn;
  }
}

.side-menu.sh-block.sh-hidden {
  border-top: none;
  .cls-btn {
    display: none;
  }
  .sh-btn {
    display: flex;
  }
  ul {
    display: none;
  }
}

.side-menu.sh-block {
  .cls-btn {
    @include side-menu-cls-btn;
  }
  .sh-btn {
    display: none;
  }
}

.aside {
  display: flex;
  background: none;
  flex: 0 0 15%;
  padding-left: 80px;
  nav.side-menu {
    padding-top: 244px;
    background: none;
    align-content: flex-start;

    ul {
      display: flex !important;
      flex-direction: column;
      flex: 0 0 100%;
      justify-content: flex-start;
      li {
        padding-bottom: 24px;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          background: $side-menu-dots-bg;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 12px;
          left: -40px;
          z-index: 10;
        }
        &:after {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background: $side-menu-line-between-items-bg;
          top: 20px;
          left: -37px;
          z-index: 9;
        }
        &:last-child:after {
          height: 0;
          background: none;
        }
      }
    }
    .cls-btn,
    .sh-btn {
      display: none !important;
    }
  }
}
