footer {
  background: $footerbg;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 64px;

  .footer-bottom {
    display: flex;
    width: 100%;
    border-top: $footer-top-border;
    flex-direction: column;
    .content {
      width: 100%;
      .blocks {
        align-items: flex-start;
        .sh-btn {
          display: none;
        }
        .ratings,
        .blind {
          border: $border-style;
          line-height: 32px;
          @include panel-buttons;
        }
        .searchpanel {
          @include search-panel-footer;
        }
      }
      .copyrights {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        margin-bottom: 56px;
        color: $footertextcolor;

        .rights {
          margin-left: 24px;
        }
        .sitecreate {
          margin-right: 24px;
          color: $footertextcolor;
          font-family: "OpenSans Semibold";
        }
      }
    }
  }
}
