<div class="image-prev">
    <div class="popup"></div>
    <img class="img-prev" src="{{item.src}}" alt="item.alt" />
    <div class="open-img">
        <img src="./images/expand.png">
    </div>
</div>