{% extends 'base/base.njk' %}

{% set title = "Группы" %}

{% block title %}{{title}}{% endblock %}
{% block header %}
    {% include 'header_two_menu/header.njk' %}
{% endblock %}

{% block content %}
<section class="container page-item">
    <div class="page-content">  
        <div class="content">
            {% include 'navigation/navigation.njk'%}
            <div class="group">
                {% include 'group/group.njk' %}
            <div>
        </div>
    </div>
</section>
    {% include 'contacts/contacts.njk' %}
	{% include 'treatments/treatments.njk' %}
{% endblock %}