{% 
    set announce = 
        [
            {
                "name": "Это превью заголовка мероприятия поместилось как-то в эту строку, мы все радуемся, аплодируем стоя, шары,
                        фейерверк, кричат слоны",
                "src": "./images/black.jpg",
                "text": "Маленький рост и карликовость Федора – симптом целого букета неприятных заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                        заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость Маленький рост и карликовость Федора – симптом целого букета неприятных
                        заболеваний. Тут и генетические
                        нарушения (взгляните на подбородок дяди Федора в профиль), и гормональные, из которых недостаток
                        гормона роста –меньшая из проблем. Его сложно винить за совершенные им преступления. Осознав всю боль
                        заточения взрослого мужика в стодвадцатисантиметровом тельце, начинаешь сопереживать дяде Федору,
                        понимая какой груз он несет на своих плечах. Заметка о розыске не проходит незамеченной и попадается на
                        глаза Печкину Маленький рост и карликовость"
            }
        ]
%}

{% extends 'base/base.njk' %}

{% set title = "Новость" %}

{% block title %}{{title}}{% endblock %}
{% block header %}
    {% include 'header/header.njk' %}
{% endblock %}

{% block content %}
<section class="container page-item">
    <div class="page-content">
        <div class="content publication">
            {% for item in announce %}
                {% include 'textview/textview.njk' %}
            {% endfor %}
            <span>Подпись автора</span>
        </div>
    </div>
</section>
    {% include 'contacts/contacts.njk' %}
	{% include 'treatments/treatments.njk' %}
{% endblock %}