{% extends 'base/base.njk' %}

{% set title = "Фотоальбомы" %}

{% set photo = {
    "mainHeader": "Фотоальбомы"
} %}

{% block title %}{{title}}{% endblock %}
{% block header %}
    {% include 'header/header.njk' %}
{% endblock %}

{% block content %}
<section class="container page-item">
    <div class="aside">
        {% include 'sidemenu/sidemenu.njk'%}
    </div>
    <div class="page-content">
        <div class="content">
            <h2 class="header">{{photo.mainHeader}}</h2>
            {% include 'photo/photo.njk' %}
        </div>
    </div>
</section>
    {% include 'contacts/contacts.njk' %}
	{% include 'treatments/treatments.njk' %}
{% endblock %}