{% extends 'base/base.njk' %}

{% set title = "Сведения об образовательной организации" %}

{% set menu = [ 
        { "name": "Основные сведения", "link": "#name1", "active": "active" }, 
        { "name": "Структура и органы управления образовательной организацией",
        "link": "#name2" }, 
        { "name": "Документы", "link": "#name3" }, 
        { "name": "Образование", "link": "#name4" },
         { "name": "Образовательные стандарты", "link": "#name5", "active": "active" }, 
        { "name": "Руководство. Педагогический (научно-педагогический) состав",
        "link": "#name6" }, 
        { "name": "Материально-техническое обеспечение и оснащенность образовательного процесса", "link": "#name7" }, 
        { "name": "Стипендии и иные виды материальной поддержки", "link": "#name8" },
        { "name": "Платные образовательные услуги", "link": "#name9", "active": "active" }, 
        { "name": "Финансово-хозяйственная деятельность",
        "link": "#name10" }, 
        { "name": "Вакантные места для приема (перевода)", "link": "#name11" }

    ] 
%}

{% block title %}{{title}}{% endblock %}
{% block header %}
    {% include 'header_two_menu/header.njk' %}
{% endblock %}

{% block content %}
<section class="container page-item">
    <div class="page-content">  
        <div class="content">
            {% include 'navigation/navigation.njk'%}
            <div class="information right-block">
                {% include 'information/information.njk' %}
            <div>
        </div>
    </div>
</section>
    {% include 'contacts/contacts.njk' %}
	{% include 'treatments/treatments.njk' %}
{% endblock %}