.blocks {
  display: flex;
  padding: 24px 0 32px;
  .searchpanel {
    border: $bordercolor;
    flex: 1 1 auto;
    padding: 13px 24px;
    input {
      width: 100%;
      background: none;
      border: none;
      color: $links-color;
      font-family: "OpenSans Semibold";
    }
  }

  .ratings,
  .blind {
    color: $search-panel-text-color;
    &:hover {
      background: $button-hover;
      color: $button-text-hover;
    }
    &:active {
      background: $search-panel-button-active-bg;
      color: $button-text-color-click;
    }
  }
  .ratings {
    margin-right: 0;
  }
  .blind {
    padding-left: 50px;
    &:before {
      position: absolute;
      content: "";
      width: 22px;
      height: 17px;
      left: 20px;
      top: 16px;
      background: $panel-button-blind-eye;
    }
  }
  .sh-btn {
    @include panel-sh-btn;
  }
  .cls-btn {
    @include panel-cls-btn;
  }
}
