@media (min-width: 1024px) and (max-width: 1280px) {
  .content {
    max-width: 976px;
    margin: auto 4%;
  }

  .usefullinks .links ul {
    margin-left: 0;
    li {
      margin-right: 0;
      a {
        flex: 0 0 92%;
      }
    }
  }
  .groups .content .groups-block .groups-item {
    margin-right: 0;
    flex: 0 0 50%;
  }

  .group {
    .discussions .discussions-item.sh-block,
    .discussions .discussions-item.sh-block.sh-hidden {
      .text-caption,
      p {
        width: 88%;
      }
    }
  }

  .treatments .content {
    max-width: 827px;
  }
  .footer-top {
    margin: 0 8px;
  }
  .news {
    .content {
      .news-block {
        .news-item {
          flex: 0 0 44%;
          margin-right: 24px;
          .news-caption {
            img {
              left: 0 !important;
            }
            h3 {
              padding: 16px 0 8px 144px;
            }
            .counter {
              left: 48px;
            }
            span {
              padding-left: 144px;
            }
          }
          .news-preview {
            margin-left: 144px;
          }
        }
      }
    }
  }
  .usefullslider-container .content {
    .owl-nav {
      width: 64%;
      left: 18%;
    }
    .usefullslider .usefullslider-item {
      margin: 0 0 56px 64px;
    }
  }
  .events {
    .content {
      .events-calendar {
        //     min-height: 480px;
        flex: 0 0 52%;
        .calendar-container {
          .list,
          .days,
          .month {
            margin: 24px 0 0 106px;
          }
          .year {
            margin: 64px 0 0 106px;
          }
        }
      }
      .events-date {
        padding-left: 106px !important;
      }
      .events-block {
        margin-left: -106px;
      }
    }
  }
  .slider-container .mainslider .owl-nav {
    width: 100%;
    left: 0;
  }
  .navigation {
    ul {
      flex: 0 0 75%;
    }
  }
  .container.group {
    .content {
      padding-left: 32px;
      h2 {
        margin-left: -64px;
      }
    }
  }
  .group {
    .content {
      max-width: 720px;
    }
  }
}

@media (min-width: 801px) and (max-width: 1023px) {
  .content {
    max-width: 1020px;
    margin: 0 8%;
    min-width: 640px;
  }

  .container.page-item {
    .page-content {
      .content {
        width: 90%;
        flex: 0 1 90%;
        margin: 0 4%;
      }
    }
  }

  header {
    .content {
      margin: 0 4%;
      width: 93%;
      .slider-container {
        margin-bottom: 56px;
        .mainslider {
          width: 180px;
          height: 180px;
          &-item {
            height: 464px;
            width: 464px;
            display: flex;
            img {
              width: auto;
              max-width: 200px;
              max-height: 200px;
              height: auto;
              min-width: 180px;
              min-height: 180px;
              object-fit: cover;
            }
          }
        }
        .open-img {
          margin-left: 32px;
        }
      }
      .blocks.sh-block.sh-hidden {
        justify-content: center;
        .searchpanel {
          width: 0;
          flex: 0 0 0;
          padding: 0;
          border: 0;
          input {
            width: 0;
          }
        }

        .cls-btn {
          display: none;
        }
        .sh-btn {
          display: block;
        }

        .button.blind,
        .button.ratings {
          display: flex;
          padding: 10px 32px 0;
          width: 244px;
          text-align: center;
          margin-right: 0;
          justify-content: center;
          margin-right: 24px;
        }
      }
      .blocks.sh-block {
        .button.ratings,
        .button.blind {
          display: none;
        }
        .searchpanel {
          transition: flex 0.5s linear;
          display: flex;
          margin-right: 0;
          flex: 1 1 auto;
        }
        .sh-btn {
          display: none;
        }
        .cls-btn {
          display: block;
          position: relative;
        }
      }
      .blocks {
        .panel-bg {
          padding: 0;
          left: 0;
        }
      }
    }
    .navigation {
      ul {
        flex: 0 0 90%;
      }
    }
  }
  .about {
    .about-desc {
      img {
        margin-left: 0;
      }
      .counter {
        left: 56px;
      }
      p {
        padding: 0 112px 0 160px;
      }
    }
  }
  .announce {
    .announce-desc {
      .announce-container {
        .announce-caption {
          padding: 0 140px 24px 56px;
        }
        p {
          padding: 0 140px 0 56px;
        }
      }
    }
  }
  .news.center {
    .news-block {
      flex-direction: column;
    }
  }
  .events.center {
    .events-calendar {
      flex: 0 0 50%;
      border: none;
      .calendar-container {
        .year {
          margin: 82px 0 0 80px;
        }
        .month,
        .days,
        .list {
          margin: 24px 0 0 80px;
        }
      }
    }
    .events-info {
      margin-left: -64px;
    }
  }
  .usefullinks {
    .links {
      ul {
        margin-left: 0;
        li {
          margin-right: 32px;
          a {
            flex: 0 0 100%;
            span {
              padding-left: 122px;
            }
          }
        }
      }
    }
  }
  .groups {
    .content {
      .groups-block {
        flex-direction: column;
        .groups-item {
          flex: 0 0 50%;
          margin-right: 0;
        }
      }
    }
  }
  .contacts {
    .content {
      #map {
        width: 320px;
        height: 320px;
      }
      .contacts-info {
        flex: 0 0 40%;
        margin-left: 80px;
      }
    }
  }
  .treatments {
    .treatments-form {
      flex-direction: column !important;
      .treatments-fields {
        flex: 0 0 80%;
        margin: 0;
        input {
          box-sizing: border-box;
        }
      }
      textarea.borders {
        margin: 0 0 24px 0;
        flex: 0 0 73%;
      }
    }
  }
  .footer {
    .footer-top {
      margin: 0;
    }
    .footer-bottom {
      .content {
        width: 90%;
        .blocks.sh-block.sh-hidden {
          justify-content: space-around;
          .sh-btn {
            display: flex;
            background: none;
            margin-right: 0;
          }
          .cls-btn {
            display: none;
          }
          .borders {
            margin-right: 0;
          }
          .searchpanel {
            width: 0;
            flex: 0 0 0;
            padding: 0;
            border: 0;
            input {
              width: 0;
            }
          }
          .blind.borders,
          .ratings.borders {
            display: flex;
          }
        }
        .blocks.sh-block {
          .button.ratings,
          .button.blind {
            display: none;
          }
          .searchpanel {
            transition: flex 0.5s linear;
            display: flex;
            margin-right: 0;
            flex: 1 1 auto;
          }
          .sh-btn {
            display: none;
          }
          .cls-btn {
            display: block;
            position: relative;
            background: none;
          }
        }
      }
    }
  }
  .group {
    .discussions .discussions-item.sh-block,
    .discussions .discussions-item.sh-block.sh-hidden {
      .text-caption,
      p {
        width: 88%;
      }
    }
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  header {
    .burger-menu {
      display: flex;
    }
    nav.main-menu {
      display: none;
    }
  }
  .text-container {
    .text-caption {
      padding: 0 80px 0 0;
    }
    p {
      padding: 0 64px 64px 0;
    }
  }
  .container.page-item {
    .content {
      .group {
        .group-desc {
          .text-container {
            p {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .popup {
    right: 16%;
    left: 16%;
    top: 24%;
    .img-prev {
      margin-top: 0 !important;
    }
  }
  .content {
    max-width: 640px;
    margin: 0 4%;
    min-width: 280px;

    .button {
      padding: 10px 80px;
      width: auto;
    }
  }

  header {
    .content {
      .blocks {
        .panel-bg {
          padding: 0;
          left: 0;
        }
      }
    }
  }

  .group {
    .discussions .discussions-item.sh-block.sh-hidden .text-caption {
      white-space: normal;
    }
  }

  .text-container {
    .text-caption {
      padding: 0;
    }
    .image-prev {
      order: -1;
    }
    p {
      padding: 64px 0;
    }
  }

  header {
    .content {
      margin: 0 4%;
      width: auto;
      .blocks {
        justify-content: center;
      }
      .blocks.sh-block.sh-hidden {
        .searchpanel {
          width: 0;
          flex: 0 0 0;
          padding: 0;
          border: 0;
          input {
            width: 0;
          }
        }
        .cls-btn {
          display: none;
        }
        .ratings {
          display: flex;
          padding: 10px 32px;
        }
        .sh-btn {
          display: block;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            background: url("../images/lupa.png");
            width: 16px;
            height: 16px;
            top: 20px;
            left: 20px;
          }
        }
      }
      .blocks.sh-block {
        .button.blind {
          display: none;
        }
        .searchpanel {
          transition: flex 0.5s linear;
          display: flex;
          margin-right: 0;
          flex: 1 1 auto;
        }
        .sh-btn {
          display: none;
        }
        .ratings {
          display: none;
        }
        .cls-btn {
          display: flex;
          position: relative;
          &:before,
          &:after {
            position: absolute;
            width: 28px;
            height: 1px;
            content: "";
            background: $gray;
            top: 28px;
            left: 13px;
          }
          &:after {
            transform: rotate(45deg);
          }
          &:before {
            transform: rotate(-45deg);
          }
          &:hover:before {
            background: $arrow-hover;
          }
          &:hover:after {
            background: $arrow-hover;
          }
        }
      }
      .slider-container {
        margin-bottom: 56px;
        .mainslider {
          width: 180px;
          height: 180px;
          &-item {
            height: 464px;
            width: 464px;
            display: flex;
            img {
              width: auto;
              max-width: 200px;
              max-height: 200px;
              height: auto;
              min-width: 180px;
              min-height: 180px;
              object-fit: cover;
            }
          }
          .owl-nav {
            display: none;
          }
        }
        .open-img {
          margin-left: 32px;
        }
      }
    }
    .burger-menu {
      display: flex;
    }
    nav.main-menu {
      display: none;
    }
    nav.navigation {
      display: none;
    }
  }

  .about.center {
    padding-bottom: 96px;
    .about-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        position: relative;
        display: flex;
        margin-left: 0;
      }
      .counter {
        left: 50%;
      }
    }
    .about-desc.sh-block.sh-hidden {
      .sh-btn {
        display: flex;
        position: relative;
        order: 1;
        margin-right: 0;
        margin-top: 120px;
        margin-bottom: -120px;
        align-self: center;
      }
      p {
        transition: margin-top 0.5s ease-in;
        padding: 0;
        margin-top: 56px;
      }
    }
    .about-desc.sh-block {
      .cls-btn-top {
        top: 80px !important;
        left: 50%;
        margin-left: -24px;
      }
      .cls-btn {
        left: 50%;
        margin-left: -24px;
        bottom: -64px !important;
      }
      .line {
        display: none;
      }
      p {
        transition: margin-top 0.5s ease-in;
        margin-top: 136px;
        padding: 0 !important;
      }
    }
  }

  .announce {
    .content {
      .announce-desc {
        .announce-container {
          display: flex;
          flex-direction: column;
          .announce-caption {
            padding: 0;
            margin-bottom: 32px;
          }
          p {
            padding: 0;
          }
        }
      }
      .announce-desc.sh-block.sh-hidden {
        .sh-btn {
          display: flex;
          position: relative;
          margin-top: 16px;
          margin: 16px auto;
        }
      }
      .announce-desc.sh-block {
        .announce-container {
          .announce-caption {
            order: -1;
          }
        }
        .cls-btn,
        .cls-btn-top {
          display: flex;
          position: relative;
          align-self: center;
          margin-top: 24px;
        }
        .cls-btn-top {
          order: -1;
        }
        .line {
          display: none;
        }
      }
    }
  }

  .events {
    .content {
      flex-direction: column;
      .events-calendar {
        border: none;
      }

      .events-info {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        .events-date {
          padding-left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .events-blocks {
          margin-left: 4% !important;
          .event-item {
            flex-direction: column;
            align-items: center;
            .counter {
              left: 50%;
              margin-left: -24px;
            }
            .events-caption {
              margin-top: 72px;
              display: flex;
              align-self: flex-start;
              h3 {
                padding: 8px 0;
              }
            }
          }
        }
      }
      .events-calendar {
        border-radius: 30%;
        align-self: center;
        .calendar-container {
          .year {
            margin: 82px 0 0 32px;
          }
          .month,
          .days,
          .list {
            margin: 24px 0 0 32px;
          }
        }
      }
    }
  }

  .news {
    .content {
      .news-block {
        .news-item {
          flex: 0 0 100%;
          margin-right: 0;
          .news-caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .news-img {
              order: -1;
              display: flex;
              position: relative;
              align-self: center;
              left: auto;
              right: auto;
            }
            .counter {
              left: 50%;
            }
            span {
              display: block;
              padding-top: 96px;
            }
            span,
            h3 {
              padding-left: 0;
            }
          }
          .news-preview {
            margin-left: 0;
          }
        }
      }
      .button {
        margin: 0 auto;
        padding: 10px 80px;
        width: auto;
      }
    }
  }

  .usefullslider-container {
    display: none;
  }

  .usefullinks {
    padding-bottom: 16px;
    .links {
      ul {
        margin: 0;
        li {
          margin-right: 0;
          flex: 0 0 90%;
          a {
            flex: 0 0 100%;
            img {
              left: 50%;
              margin-left: -55px;
            }
            span {
              padding-left: 0;
              padding-top: 96px;
            }
          }
        }
      }
    }
  }

  .groups {
    .content {
      .groups-block {
        flex-direction: column;
        .groups-item {
          flex: 0 0 100%;
          margin: 0 0 64px 0;
          .caption {
            height: auto;
            align-items: center;
            h3 {
              padding-left: 0;
              margin: 96px 0 16px 0;
            }
            .groups-img {
              left: 50%;
              margin-left: -56px;
            }
          }
          .groups-preview {
            margin-left: 0;
            .groups-preview-cut {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .contacts {
    .content {
      flex-direction: column;
      .contacts-info {
        margin: 0;
      }
      #map {
        width: 300px;
        height: 300px;
        align-self: center;
        margin-bottom: 32px;
      }
    }
  }

  .treatments {
    .content {
      .treatments-form {
        justify-content: center;
        margin: 0;
        .treatments-fields {
          flex: 0 0 80%;
          margin: 0;
          input {
            box-sizing: border-box;
          }
        }
        textarea.borders {
          margin: 0 0 24px 0;
          flex: 0 0 73%;
        }
      }
    }
  }

  footer {
    .content {
      margin: 0 4%;
      .footer-top {
        margin: 0;

        .survey {
          display: flex;
          flex-direction: column;
          &-item {
            flex-direction: column;
            .answers {
              margin: 0 0 24px 0;
            }
          }
          .send_answer {
            align-self: center;
          }
        }

        .links {
          ul {
            margin-left: 32px;
            li {
              flex: 0 0 90%;
            }
          }
        }
      }
    }

    .footer-bottom {
      .content {
        .blocks {
          justify-content: space-around;
          flex-direction: column;
          align-items: stretch;
          margin: 32px 8%;

          .button {
            margin-right: 0;
            padding: 8px 32px;
            margin-bottom: 24px;
            text-align: center;
          }
          .searchpanel {
            margin-right: 0;
            padding: 13px 0 13px 24px;
            margin-bottom: 24px;
          }
        }
        .copyrights {
          flex-direction: column;
          justify-content: center;
          .rights,
          .sitecreate {
            display: flex;
            justify-content: center;
            margin: 0 0 24px 0;
            text-align: center;
            line-height: 24px;
          }
        }
      }
    }
  }
}
