{%
    set information = {
        "informationName": "Сведения об образовательной организации",
        "subheader1":"Основные сведения"
    }
%}

<h2 class="header">{{information.informationName}}</h2>
<h3 id="name1" class="header">{{information.subheader1}}</h3>
<span>Полное наименование</span>
<p>Мау НТГО СОш №5</p>