.information {
  position: relative;
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  h2.header {
    padding-bottom: 24px;
  }
  h3.header {
    padding: 32px 0 24px 0;
  }
  h3.header.subheader {
    color: $links-hover-color;
    padding: 32px 0 0 0;
  }

  .structure,
  .documents,
  .education,
  .education-standarts,
  .employees {
    margin-top: 40px;
  }

  .structure,
  .documents,
  .education,
  .education-standarts,
  .employees,
  .basic-informtaion {
    span {
      color: #a5afb0;
    }
    .line {
      width: 100%;
      background: #000;
    }
    .info-item {
      margin-bottom: 24px;
      span {
        color: $checkmark-checked-bg;
        margin-bottom: 16px;
      }
      p {
        color: $textcolor;
      }
      a {
        border-bottom: $border-dotted-links;
      }
    }
    .sub {
      display: flex;
      width: 94%;
      margin-bottom: 24px;
      .name {
        display: inline-flex;
        margin-right: 16px;
        line-height: 16px;
      }
      .grayline {
        height: 2px;
        background: $navigation-line-between-items-bg;
        align-self: center;
        display: inline-flex;
        flex: 1 1 auto;
      }
    }
  }
  .documents {
    .documents-item {
      display: flex;
      flex-direction: column;
    }
  }

  .download {
    align-self: flex-start;
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    .icon {
      width: 48px;
      height: 48px;
      border: $bordercolor;
      border-radius: 50%;
      margin-right: 16px;
    }
    .icon.doc {
      background: url("../images/doc.png") no-repeat 50% 50%;
    }
    .icon.pdf {
      background: url("../images/pdf.png") no-repeat 50% 50%;
    }
    .icon.docx {
      background: url("../images/docx.png") no-repeat 50% 50%;
    }
    span {
      color: $links-color;
      border-bottom: $border-dotted-links;
    }
    &:hover {
      .icon {
        border: 2px solid $button-text-hover;
      }
      span {
        color: $button-text-hover;
      }
    }
    &:last-child {
      margin-bottom: 24px;
    }
  }

  .education-standarts {
    ul {
      li {
        position: relative;
        padding-left: 16px;
        margin-bottom: 16px;
        &:before {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $checkmark-checked-bg;
          content: "";
          top: 13px;
          left: 0;
        }
      }
    }
  }

  .education {
    .education-item {
      margin-bottom: 16px;
      flex-direction: column;
      display: flex;
      ul {
        li {
          position: relative;
          padding-left: 16px;
          margin-bottom: 16px;
          &:before {
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $checkmark-checked-bg;
            content: "";
            top: 13px;
            left: 0;
          }
          ul {
            li {
              padding-left: 0;
              margin-bottom: 0;
              &:before {
                background: none;
              }
            }
          }
        }
      }
      .sub-item {
        margin-bottom: 16px;
        .sub {
          margin-bottom: 8px;
        }
      }
    }
  }

  .employees {
    display: flex;
    flex-direction: column;
    .employees-cards {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      .card-item {
        flex: 0 1 35%;
        margin: 0 48px 48px 0;
        .card-name {
          display: flex;
          flex-direction: row;
          .photo {
            margin-right: 16px;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            img {
              max-width: 70px;
              max-height: 70px;
              width: auto;
              height: auto;
            }
          }
          .name {
            text-transform: uppercase;
            font-family: $header-font;
            color: $news-header-color;
            font-size: 24px;
            flex: 0 1;
          }
        }
        .position,
        .deeper {
          margin-left: 80px;
        }
        .position {
          height: 32px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .center {
    &:before {
      left: 6%;
    }
  }
  .deeper {
    border-bottom: $border-dotted-links;
    align-self: flex-start;
  }
}
