.slider-container {
  position: relative;
  .open-img {
    left: 50%;
    z-index: 88;
    margin-left: 125px;
    top: 11%;
  }

  .mainslider {
    margin: 32px auto;
    height: 464px;
    width: 464px;
    border: $border-slider-color;
    border-radius: 50%;

    &-item {
      height: 464px;
      width: 464px;
      display: flex;
      img {
        width: auto;
        max-width: 600px;
        max-height: 600px;
        height: auto;
        min-width: 464px;
        min-height: 464px;
        object-fit: cover;
      }
    }
    .owl-nav {
      top: 35%;
    }
    .owl-dots {
      display: none;
    }
  }
}
