{%
    set contacts = 
    {
        "header": "Контакты",
        "data": [
            {
                "address": "623530, Свердловская область, Богданович, ул.Школьная, 5д",
                "class": "address",
                "id": "ymap-address"
            },
            {
                "tel": "+7(12345)123-12-12",
                "class": "tel"
            },
            {
                "email": "etoemail@yandex.ru",
                "class": "email"
            }
        ],
        "icons": [
            {
                "link": "https://vk.com",
                "class": "vk"
            },
            {
                "link": "https://facebook.com",
                "class": "fb"
            },
            {
                "link": "https://twitter.com",
                "class": "tw"
            },
            {
                "link": "https://ok.ru",
                "class": "ok"
            }
        ]
    }
%}

<section class="contacts">
    <h2 class="header">{{contacts.header}}</h2>
    <div class="content">
        <div class="map-wrapper">
            <a id="map-arrow" href="https://yandex.ru/maps/?mode=search&text=623530%2C%20Свердловская%20область%2C%20Богданович%2C%20ул.Школьная%2C%205д" target="_blank" title="Раскрыть карту в отдельной странице"></a>
            <div id="map"></div>
        </div>
        <div class="contacts-info">
        {% for item in contacts.data %}
            <p class="{% if item.class %}{{item.class}}{% endif %}" {% if item.id %}id="{{item.id}}"{% endif %} data-coordinates="56.783697, 62.032776">
                {% if item.address %}{{item.address}}{% endif %}
                {% if item.tel %}<span>{{item.tel}}</span>{% endif %}
                {% if item.email %}<span>{{item.email}}</span>{% endif %}
            </p>
        {% endfor %}
            <div class="icons">
                {% for item in contacts.icons %}
                    <a class="icon {{item.class}}" href="{{item.link}}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>