<div class="links">
    <h2 class="header">{{links_header}}</h2>
    <ul>
    {% for item in links %}
        <li>
          <a href="{{item.link}}">
          {% if item.img %}
            <img src="{{item.img}}">
          {% endif %}
            <span>{{item.title}}</span>
          </a>
        </li>
    {% endfor %}
    </ul>
</div>