<div class="photos section">
    <h2>Заголовок</h2>
    <div class="photo-list">
        <a class="group" id="single_image" href="./images/black.jpg">
            <img src="./images/black.jpg" alt="" />
        </a>
        <a class="group" id="single_image1" href="./images/black.jpg">
            <img src="./images/black.jpg" alt="" />
        </a>
        <a class="group" id="single_image2" href="./images/black.jpg">
            <img src="./images/black.jpg" alt="" />
        </a>
        <a class="group" id="single_image3" href="./images/black.jpg">
            <img src="./images/black.jpg" alt="" />
        </a>
    </div>
</div>