html,
body {
  height: 100%;
}

$header-font: "Akrobat-semibold";
$text-font: "OpenSans Regular";
$second-text-font: "OpenSans Semibold";

.content {
  max-width: 1232px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.borders {
  border-radius: 40px;
  margin-right: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $header-font;
  padding: 96px 0 56px 0;
  color: $header-color;
  letter-spacing: 2px;
  line-height: 40px;
}

h1,
h2 {
  font-size: 36px;
}

h3,
h4,
h5,
h6 {
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: center;
}

li,
p,
a {
  line-height: 32px;
}

.page {
  font-size: 14px;
  color: $textcolor;
  font-family: $text-font;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include container-bg;
  }
}
.center {
  position: relative;
  padding-bottom: 72px;
  &:before {
    position: absolute;
    content: "";
    width: 124px;
    height: 2px;
    background: $center-line-bg;
    left: 50%;
    margin-left: -60px;
    bottom: 0;
  }
}
a {
  color: $links-color;
  text-decoration: none;
  font-family: $text-font;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: 0;
  vertical-align: top;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.form {
  box-sizing: border-box;
}
.button {
  position: relative;
  cursor: pointer;
  padding: 8px 64px;
  color: $button-text-color;
  text-transform: lowercase;
  &:hover {
    color: $button-text-hover;
  }
  &:active {
    background: $button-active-bg !important;
    color: $button-text-color-click;
  }
}
.carousel {
  overflow: hidden;
}
.owl-item {
  display: inline-block;
  overflow: hidden;
}

.owl-nav {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  .owl-prev,
  .owl-next {
    width: 80px;
    height: 80px;
    background: $button-owl-nav-bg;
    border: $border-style;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
  .owl-prev:hover,
  .owl-next:hover {
    background: $button-bg-hover;
  }
  .owl-next:before,
  .owl-prev:before {
    content: "";
    width: 15px;
    height: 15px;
    background: none;
    position: absolute;
    top: 40%;
    left: 45%;
    border-left: $border-slider-color;
    border-top: $border-slider-color;
  }
  .owl-next:hover:before,
  .owl-prev:hover:before {
    border-left: $border-slider-color;
    border-top: $border-slider-color;
  }
  .owl-prev:before {
    transform: rotate(-45deg);
  }
  .owl-next:before {
    left: 35%;
    transform: rotate(135deg);
  }
  .owl-next:active,
  .owl-prev:active {
    background: $button-slider-active-bg;
  }
  .owl-next:active:before,
  .owl-prev:active:before {
    border-left: 2px solid $button-text-color-click;
    border-top: 2px solid $button-text-color-click;
  }
}
.owl-dots {
  width: 100%;
  height: 20px;
  bottom: 88px;
  display: block;
  margin: 40px auto;
  text-align: center;
  .owl-dot {
    width: 16px;
    height: 16px;
    background: $owl-dots-bg-color;
    border-radius: 50%;
    margin-left: 16px;
    position: relative;
    display: inline-block;
  }
  .owl-dot.active:before {
    position: absolute;
    content: "";
    background: $white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 26%;
    left: 26%;
  }
}
.counter {
  position: absolute;
  //top: 130px;
  left: 112px;
  &:before {
    position: absolute;
    content: "";
    left: -32px;
    width: 24px;
    height: 15px;
    background: $counter-default-iamge;
  }
}

.veil {
  width: 100%;
  height: 100%;
  position: fixed;
  background: $veil-bg;
  opacity: 0.7;
  z-index: 99;
  display: none;
}

.popup {
  display: none;
  position: fixed;
  border: 3px solid $gray;
  z-index: 999;
  border-radius: 5px;
  width: auto;
  height: auto;
  right: 30%;
  left: 30%;
  top: 15%;
  img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }
  &-close {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $gray;
    right: -14px;
    top: -14px;
    border: 2px solid #fff;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background: $white;
      top: 47%;
      transform: rotate(45deg);
      left: 20%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-230deg);
    }
  }
}
.sh-btn,
.cls-btn,
.cls-btn-top {
  display: none;
  width: 54px;
  height: 54px;
  border: $border-style;
  border-radius: 50%;
  position: absolute;
  margin-right: 24px;
  background: $button-bg;
  cursor: pointer;
  &:hover {
    background: $button-bg-hover;
  }
}
.cls-btn {
  z-index: 100;
  &:before,
  &:after {
    position: absolute;
    width: 28px;
    height: 1px;
    content: "";
    background: $gray;
    top: 27px;
    left: 12px;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:hover:before {
    background: $arrow-hover;
  }
  &:hover:after {
    background: $arrow-hover;
  }
}
.line {
  position: absolute;
  height: 100%;
  width: 2px;
  background: $line-bg-between-buttons;
  right: 52px;
  top: -46px;
  z-index: 99;
  display: none;
}

.container.group {
  display: flex;
  flex-direction: row;
  .content {
    flex: 0 0 50%;
    align-self: baseline;
  }
  .contacts {
    background: none;
  }
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  .text-caption {
    padding: 0 160px 24px 206px;
    order: -1;
  }
  p {
    padding: 0 160px 0 206px;
    text-align: justify;
  }
}

.open-img {
  position: absolute;
  width: 56px;
  height: 56px;
  cursor: pointer;
  img {
    width: auto;
    height: auto;
  }
}

.img-prev {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  align-self: center;
}

.second-header {
  .burger-right {
    display: none;
  }
}

.publication {
  margin: 0 auto;
  .section {
    margin-bottom: 56px;
    .text-caption {
      margin-top: 128px;
    }
  }
}
