.container.page-item {
  flex-direction: row;
  .page-content {
    .aside {
      margin-right: 64px;
    }
    flex: 0 0 70%;
    flex-direction: row;
    display: flex;
    .header {
      justify-content: flex-start;
    }
    .content {
      .header {
        align-self: flex-start;
      }
      .news-block {
        flex-direction: row;
        .news-item {
          flex: 0 0 48%;
          margin-right: 8px;
        }
      }
      .groups-block {
        .groups-item {
          flex: 0 0 100% !important;
        }
      }
      .button {
        display: none;
      }
      .photoalbums {
        .albums {
          .album-item {
            align-items: center;
            flex: 0 0 50%;
            .img-prev {
              align-self: center;
            }
            .open-img {
              display: flex;
              position: relative;
              cursor: pointer;
              order: -1;
              margin-bottom: -64px;
              margin-left: -156px;
            }
            .counter {
              margin-left: -180px;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1282px) and (max-width: 1800px) {
  .container.page-item {
    .page-content {
      width: 100%;
      max-width: 1232px;
      flex: 0 0 auto;
    }
  }
}

@media (max-width: 1281px) and (min-width: 1000px) {
  .container.page-item {
    .page-content {
      width: 100%;
      max-width: 1020px;
      flex: 0 0 auto;
      .aside {
        margin-right: 32px;
      }
      .aside.filter {
        margin-right: 16px;
        padding-left: 16px;
      }
      .content {
        .news-block {
          .news-item {
            flex: 0 0 100%;
          }
        }
      }
      .text-container {
        .text-caption {
          padding: 0;
          margin-bottom: 24px;
        }
        p {
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1023px) {
  .page-content {
    .content {
      width: 90%;
      .text-container {
        .text-caption {
          padding: 0;
          margin-bottom: 24px;
        }
        p {
          padding: 0;
        }
      }
    }
    .aside.filter {
      margin-right: 0 !important;
    }
  }
  .group {
    .page-content {
      .content {
        width: 90%;
        //flex: 0 0 88%;
      }
    }
  }
}

// @media (min-width: 1000px) and (max-width: 1023px) {
// }

// @media (min-width: 1000px) and (max-width: 1549px) {
//   .container.page-item {
//     justify-content: space-around;
//     .page-content {
//       flex: 0 0 70%;
//     }
//   }
// }

// @media (min-width: 1550px) {
//   .container.page-item {
//     justify-content: center;
//   }
// }

@media (min-width: 320px) and (max-width: 999px) {
  .container.page-item {
    .page-content {
      width: 100%;
      flex: none;
      h3 {
        padding: 24px 0 56px 0;
      }
      .aside {
        display: none;
      }
      .content {
        .news-block {
          .news-item {
            flex: 0 0 100%;
          }
        }
      }
      .text-container {
        .text-caption {
          padding: 0;
          margin-bottom: 24px;
        }
        p {
          padding: 0;
        }
      }
    }
  }
  .container.group {
    .content {
      //width: 100%;
      flex: 0 0 90%;
    }
  }
  .second-header {
    .burger-right {
      display: flex;
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .container.page-item {
    .content {
      .photoalbums {
        .albums {
          .album-item.item {
            flex: 0 0 100%;
            .img-prev {
              align-self: center;
              margin-top: -64px;
            }
            .open-img {
              display: flex;
              align-self: center;
              position: relative;
              order: -1;
              margin-left: -140px;
              margin-bottom: 0 !important;
            }
            .counter {
              left: 0;
              align-self: center;
              margin-left: 0 !important;
            }
            .album-item-name {
              width: 100%;
            }
          }
        }
      }
      .discussions {
        .comment-send {
          form {
            width: 100%;
            .button {
              display: flex;
              margin-right: 0;
              align-self: center;
              width: auto;
            }
          }
        }
        &-item {
          .text-container {
            .cls-btn-top,
            .sh-btn {
              top: 0 !important;
            }
          }
        }
      }
      div.text-container {
        h3.text-caption {
          padding: 0 !important;
          margin-bottom: 16px;
        }
      }
      .cls-btn-top,
      .sh-btn {
        position: relative;
        order: -1;
        align-self: center;
      }
      .cls-btn {
        position: relative;
        align-self: center;
        margin-top: 32px;
      }
      .line {
        display: none !important;
      }
      p {
        padding: 0 !important;
      }
    }
  }
}
