.page-item {
  flex-direction: column;
  .page-content {
    flex-direction: column !important;
    flex-direction: row;
    display: flex;

    .content.publication {
      flex-direction: column;
      span {
        padding: 0 160px 0 206px;
        margin-bottom: 64px;
        color: $signature;
      }
      .text-container {
        .date {
          position: relative;
          &:before {
            position: absolute;
            content: "";
            background: $news-date-color;
            width: 60%;
            height: 2px;
            top: 50%;
            right: 0;
            margin-right: 160px;
          }
        }
      }
    }
    .aside {
      margin-right: 64px;
    }

    .groups {
      .content {
        .groups-block {
          flex-direction: row;
          .groups-item {
            flex: 0 0 50%;
            margin-right: 0;
          }
        }
        .button {
          display: none !important;
        }
      }
    }

    .header {
      justify-content: flex-start;
    }
    .content {
      flex-direction: row;
      .header {
        align-self: flex-start;
      }
      .news.center {
        .content {
          flex-direction: column;
          .news-block {
            flex-direction: row;
            .news-item {
              flex: 1 1 48%;
              margin-right: 8px;
            }
          }
          .button {
            display: none;
          }
        }
      }

      .photoalbums {
        .albums {
          .album-item {
            align-items: center;
            flex: 0 0 50%;
            .img-prev {
              align-self: center;
            }
            .open-img {
              display: flex;
              position: relative;
              cursor: pointer;
              order: -1;
              margin-bottom: -64px;
              margin-left: -156px;
            }
            .counter {
              margin-left: -180px;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1281px) and (min-width: 1000px) {
  .container.page-item {
    .page-content {
      width: 100%;
      max-width: 1020px;
      flex: 0 0 auto;
      .aside {
        margin-right: 16px;
        flex: 0 0 24%;
      }

      .content {
        .news.center {
          .content {
            .news-block {
              flex-direction: column;
              .news-item {
                flex: 0 0 100%;
              }
            }
          }
        }
        .photos {
          .photo-list {
            justify-content: center;
          }
        }
      }
      .content.publication {
        .text-container {
          span {
            padding: 0;
          }
        }
      }
      .text-container {
        .text-caption {
          padding: 0;
          margin-bottom: 24px;
        }
        p {
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 999px) {
  .container.page-item {
    .page-content {
      width: 100%;
      flex: none;
      h3 {
        padding: 24px 0 56px 0;
      }
      .aside {
        display: none;
      }
      .content {
        .news.center {
          .content {
            .news-block {
              flex-direction: column;
              .news-item {
                flex: 0 0 100%;
              }
            }
          }
        }
        .photos {
          .photo-list {
            justify-content: center;
            .item img {
              margin: 0 8px 24px 8px;
            }
          }
        }
      }
      .text-container {
        .text-caption {
          padding: 0;
          margin-bottom: 24px;
        }
        p {
          padding: 0;
        }
      }
      .groups {
        .content {
          width: 90%;
          .groups-block {
            flex-direction: column !important;
            .groups-item {
              flex: 0 0 100%;
            }
          }
        }
      }
      .content.publication {
        .text-container {
          .date {
            padding: 0;
          }
        }
        span {
          padding: 0;
        }
      }
    }
  }
  .container.group {
    .content {
      //width: 100%;
      flex: 1 1 90%;
    }
  }
  .second-header {
    .burger-right {
      display: flex;
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .page-item {
    .content {
      justify-content: center;
      .photoalbums {
        .albums {
          .album-item.item {
            flex: 0 0 100%;
            .img-prev {
              align-self: center;
              margin-top: -64px;
            }
            .open-img {
              display: flex;
              align-self: center;
              position: relative;
              order: -1;
              margin-left: -140px;
              margin-bottom: 0 !important;
            }
            .counter {
              left: 0;
              align-self: center;
              margin-left: 0 !important;
            }
            .album-item-name {
              width: 100%;
            }
          }
        }
      }
      .discussions {
        .comment-send {
          form {
            width: 100%;
            .button {
              display: flex;
              margin-right: 0;
              align-self: center;
              width: auto;
            }
          }
        }
        &-item {
          .text-container {
            .cls-btn-top,
            .sh-btn {
              top: 0 !important;
            }
          }
        }
      }
      div.text-container {
        h3.text-caption {
          padding: 0 !important;
          margin-bottom: 16px;
        }
      }
      .cls-btn-top,
      .sh-btn {
        margin-right: 0;
        position: relative;
        order: -1;
        align-self: center;
      }
      .cls-btn {
        position: relative;
        align-self: center;
        margin-top: 32px;
      }
      .cls-btn-top {
        margin-top: 0;
      }
      .line {
        display: none !important;
      }
      p {
        padding: 0 !important;
      }
      .group {
        display: flex;
        flex-direction: column;
        flex: 0 0 90%;
      }
    }
  }
}
