$textcolor: #2c2c2c;
$page-bg: none;
$test-bg: url("../images/vintage/page-bg.png") bottom center;

$header-color: #523440;
$main-header-color: $white;

$search-panel-text-color: $white;
$search-panel-button-active-bg: $white;
$panel-button-blind-eye: url("../images/vintage/eye.png");
$counter-eye: url("../images/vintage/eye_d.png") no-repeat;

$footerbg: url("../images/vintage/footer-bottom-bg.png") no-repeat center bottom;
$footer-top-border: inherit;
$footer-links-header-color: $header-color;
$footer-search-panel-text-color: $white;
$footertextcolor: #535d62;
$survey-color-text: $textcolor;
$survey-answer-text: $textcolor;
$survey-header-color: $header-color;
$checkmark-default-bg: #4d3840;
$checkmark-checked-bg: #4d3840;
$checkmark-bg: #4d3840;
$searchpanel-footerbg: inherit;
$search-panel-header-bg: #4d3840;
$footer-padding-bottom: 0;
$copyrights-margin-bottom: 16px;
$map-border: 2px solid #e0fbce;

$bordercolor: 2px solid #5ab7e9;
$border-line: 2px solid #e0fbce;
$border-line-focus: 2px solid #dad9d9;
$border-style: 2px solid #977761;
$border-search-style: 2px solid #546167;
$border-dotted-links: 2px dotted $gray;
$border-slider-color: 2px solid #e0fbce;
$border-contacts-top: 2px solid #e0fbce;

$button-bg: #b9875d;
$button-hover: #997963;
$button-text-color: #fff;
$button-text-hover: #fff;
$button-bg-hover: #997963;
$button-text-color-click: #fff;
$button-active-bg: #866651;
$button-panel-hover-bg: #fcfcfc;
$button-owl-nav-bg: inherit;
$owl-dots-bg-color: #4d3840;
$button-slider-active-bg: #866651;
$counter-default-iamge: $counter-eye;
$send-answer-button-bg: #184b63;
$links-color-footer: #523440;
$links-hover-color: #865066;
$links-color: #523440;

$navigation-dots-bg: #3fa1d6;
$navigation-line-between-items-bg: #dfdfdf;

$main-header-bg: url("../images/vintage/bg-top.png") #184b63;
$panel-header-bg: url("../images/vintage/plashka2.png") no-repeat top;
$buttons-panel-bg: #9f7d66;

$black: #000;
$arrow-hover: #2f5363;
$dotted-border: #babdbe;
$second-border: #dacbbc;
$calendar-color: #fff;
$day-color: $white;
$hover-event-day-color: $white;
$center-line-bg: #e0fbce;
$list-dots-bg: $white;
$line-bg-between-buttons: $center-line-bg;
$news-header-color: #3897c3;

@mixin container-bg {
  background: $page-bg;
}
@mixin treatments-bg {
  background: url("../images/vintage/treatments-bg.png") no-repeat;
  background-size: cover;
}
@mixin sidemenu-bg {
  background: none;
}
@mixin navigation-cls-btn {
  z-index: 70;
  display: flex;
  bottom: -26px;
  justify-content: center;
  margin-right: 0;
  &:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background: $links-color;
    top: 26px !important;
    left: 26%;
    transform: rotate(-45deg);
  }
  &:after {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background: $links-color;
    top: 26px;
    left: 27%;
    transform: rotate(45deg);
  }
}

@mixin panel-buttons {
  background: #9f7d66;
  box-shadow: 0 4px 1px 1px #87664f;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 102%;
    height: 112%;
    border-radius: 48px;
    top: -1px;
    left: -2px;
    box-shadow: 0 2px 15px -1px rgb(31, 29, 29);
  }
}

@mixin search-panel {
  background: $search-panel-header-bg;
  box-shadow: 0 0 16px -1px rgb(31, 29, 29);
  input {
    color: $white;
  }
}

@mixin navigation-sh-btn {
  z-index: 70;
  display: flex;
  bottom: -28px;
  justify-content: center;
  margin-right: 0;
  &:before {
    position: absolute;
    content: "...";
    font-size: 32px;
    top: -1px;
    color: $links-color;
  }
}
@mixin panel-sh-btn {
  display: block;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background: url("../images/lupa.png");
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
  }
}
@mixin panel-cls-btn {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    width: 28px;
    height: 1px;
    content: "";
    background: $gray;
    top: 28px;
    left: 13px;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}
@mixin menu-container-bg {
  background: inherit;
}
@mixin show-text-button {
  display: block;
  &:before {
    width: 12px;
    height: 12px;
    position: absolute;
    border-top: 2px solid $gray;
    border-left: 2px solid $gray;
    content: "";
    top: 32%;
    left: 38%;
    transform: rotate(225deg);
  }
  &:hover:before {
    border-left: 2px solid $arrow-hover;
    border-top: 2px solid $arrow-hover;
  }
  &:active:before {
    border-left: 2px solid $button-text-color-click;
    border-top: 2px solid $button-text-color-click;
  }
  &:active {
    background: $button-active-bg;
  }
}

@mixin search-panel-footer {
  border: $border-style;
  @include search-panel;
}
