.events {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .content {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    .events-calendar {
      flex: 0 0 44%;
      border-radius: 50%;
      border: $border-style-calendar;
      min-height: 510px;
      width: auto;
      overflow: hidden;
      margin-top: -96px;
      .calendar-container {
        flex-direction: column;
        .year {
          display: block;
          margin: 82px 0 0 124px;
        }
        .month,
        .days,
        .list {
          margin: 24px 0 0 124px;
        }
        .month {
          display: block;
          font-size: 24px;
          text-transform: uppercase;
          font-family: $header-font;
          color: $textcolor;
          letter-spacing: 2px;
        }
        .days {
          display: flex;
          flex-direction: row;
          .day {
            display: flex;
            flex: 0 0 13%;
            font-family: $second-text-font;
            color: $day-color;
          }
        }
        .list {
          display: flex;
          flex-flow: row wrap;
          align-content: flex-start;
          .cell {
            display: flex;
            flex: 0 0 13.2%;
            margin-bottom: 8px;
            .numb {
              color: $calendar-color;
              font-family: $second-text-font;
              cursor: pointer;
            }
            .event {
              line-height: 32px;
              color: $links-color-footer;
              border: $event-border;
              &:hover {
                width: 29px;
                height: 40px;
                border-radius: 50%;
                margin: -4px 0 -4px -12px;
                background: $button-bg-hover;
                line-height: 40px;
                //text-align: center;
                color: $hover-event-day-color;
                padding-left: 12px;
              }
            }
            .active {
              color: $active-day-color;
              line-height: 40px;
              width: 29px;
              height: 40px;
              background: $date-active-bg;
              border-radius: 50%;
              margin: -4px 0 -4px -12px;
              //text-align: center;
              padding-left: 12px;
            }
          }
        }
      }
    }
    .events-info {
      .events-date {
        font-size: 24px;
        text-transform: uppercase;
        padding: 0 0 0 216px;
        color: $events-header-color;
        margin-bottom: 40px;
      }
      .events-blocks {
        margin-left: 60px;
        flex-direction: column;
        .event-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 64px;
          position: relative;
          img {
            width: 106px;
            height: 106px;
            border-radius: 50%;
            margin-right: 48px;
          }
          .counter {
            left: 56px;
            top: 130px;
          }
          .events-caption {
            flex-direction: column;
            min-height: 114px;

            .events-type {
              font-family: $second-text-font;
              color: $events-type-color;
            }

            h3 {
              padding-top: 24px;
              color: $news-header-color;
            }
            a {
              color: $links-color;
              border-bottom: $border-dotted-links;
              &:hover {
                color: $links-hover-color;
              }
              &:active {
                color: $button-text-color-click;
              }
            }
          }
        }
      }
    }
  }
}
