{%
    set events = {
        "header": "События",
        "year": "2017",
        "month": "Сентябрь",
        "eventsDate": "26 сентября",
        "days": [
            {
                "day": "Пн."
            },
            {
                "day": "Вт."
            },
            {
                "day": "Ср."
            },
            {
                "day": "Чт."
            },
            {
                "day": "Пт."
            },
            {
                "day": "Сб."
            },
            {
                "day": "Вс."
            }
        ],
        "data": [
            {
                "type":"Добавлено мероприятие",
                "header": "Это превью заголовка",
                "counter": "99",
                "src": "./images/black.jpg",
                "link": "Подробнее"
            },
            {
                "type":"Добавлено мероприятие",
                "header": "Это превью заголовка",
                "counter": "99",
                "src": "./images/black.jpg",
                "link": "Подробнее"
            },
            {
                "type":"Добавлено мероприятие",
                "header": "Это превью заголовка",
                "counter": "99",
                "src": "./images/black.jpg",
                "link": "Подробнее"
            }
        ],
        "calendarDate": {
            "numberOfCalendar" : 31,
            "event": 12,
            "emptyCell": 6,
            "active": 26
        }
    }
%}

<section class="events center">
    <h2 class="header">{{events.header}}</h2>
    <div class="content">
        <div class="events-calendar">
            <div class="calendar-container">
                <span class="year">{{events.year}}</span>
                <span class="month">{{events.month}}</span>
                <div class="days">
                    {% for item in events.days %}
                        <span class="day">{{item.day}}</span>
                    {% endfor %}
                </div>
                <div class="list">
                    {% for i in range(0, events.calendarDate.emptyCell) %}
                        <div class="cell emptycell"></div>
                    {% endfor %}
                    {% for i in range(1, events.calendarDate.numberOfCalendar) %}
                        <div class="cell">
                            {% if i == events.calendarDate.event %}
                                <p class="numb event">{{events.calendarDate.event}}</p>
                            {% elif i == events.calendarDate.active %}
                                <p class="numb active">{{events.calendarDate.active}}</p>
                            {% else %}
                                <p class="numb">{{i}}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="events-info">
            <h3 class="events-date">{{events.eventsDate}}</h3>
            <div class="events-blocks">
            {% for item in events.data %}
                <div class="event-item">
                    <img src="{{item.src}}">
                    {% if item.counter %}
                        <div class="counter">x {{item.counter}}</div>
                    {% endif %}
                    <div class="events-caption">
                        <span class="events-type">
                            {{item.type}}
                        </span>
                        <h3>{{item.header}}</h3>
                        <span>
                            <a href="/">{{item.link}}</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>