<div class="burger-time sh-block sh-hidden">
    <div class="menu-container">
        {% include '../mainmenu/mainmenu.njk' %}
        {% include '../sidemenu/sidemenu.njk'%}
    </div>
    <button class="sh-btn"><span class="burger-line"></span></button>
    <button class="cls-btn"></span></button>
</div>