.burger-time {
  position: relative;
}

.burger-time.sh-block.sh-hidden {
  .menu-container {
    transition: max-height 1s ease-in-out, padding-top 0.5s;
    max-height: 0;
    overflow: auto;
    padding-top: 0;
    border-top: 0;
  }
  .cls-btn {
    display: none;
  }
  .sh-btn {
    display: block;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    z-index: 100;
    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 3px;
      background: $links-color;
      top: 19px;
      left: 33%;
    }
    &:after {
      position: absolute;
      content: "";
      width: 16px;
      height: 3px;
      background: $links-color;
      bottom: 16px;
      left: 33%;
    }
    .burger-line {
      position: absolute;
      display: block;
      width: 16px;
      height: 3px;
      background: $links-color;
      left: 33%;
    }
  }
}

.burger-time.sh-block {
  .sh-btn {
    display: none;
  }
  .cls-btn {
    display: block;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    z-index: 100;
    &:before {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background: $links-color;
      top: 26px !important;
      left: 26%;
      transform: rotate(-45deg);
    }
    &:after {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background: $links-color;
      top: 26px;
      left: 27%;
      transform: rotate(45deg);
    }
  }

  .menu-container {
    transition: max-height 1s ease-in-out;
    overflow: auto;
    max-height: 2000px;
    flex: 0 0 100%;
    padding-top: 24px;
    border-top: $border-line;
    @include menu-container-bg;

    nav.side-menu {
      display: flex;
      margin: 0 4%;
      background: none;
      ul {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 100%;
        li {
          margin-bottom: 14px;
          align-self: center;
          text-align: center;
          letter-spacing: 2px;
        }
      }
      .sh-btn {
        display: none;
      }
    }
    nav.main-menu {
      display: flex;
      margin: 0 4%;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          margin-bottom: 14px;
          align-self: center;
          text-align: center;
          letter-spacing: 2px;
        }
      }
    }
  }
}
