<div class="burger-menu sh-block sh-hidden">
    <div class="menu-container">
        {% include '../mainmenu/mainmenu.njk' %}
    </div>
    <button class="sh-btn"><span class="burger-line"></span></button>
    <button class="cls-btn cls-btn-top"></span></button>
    <button class="cls-btn"></span></button>
</div>