{% set menu = [ 
        { "name": "Насилие в школах", "link": "/", "active": "active" }, 
        { "name": "Коррупция",
        "link": "/" }, 
        { "name": "Злые педагоги", "link": "/" }, 
        { "name": "Отравления", "link": "/" }, 
        { "name": "Фоточки моего кота", "link": "/" }, 
        { "name": "Убийства", "link": "/" }

    ] 
%}

<div class="aside filter">
    <nav class="filter sh-block sh-hidden">
        <ul>
            {% for item in menu %}
            <li class="button borders">
                <a href="{{item.link}}" class="{% if item.active %}{{item.active}}{% endif %}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <button class="sh-btn"></button>
        <button class="cls-btn"></button>
    </nav>
</div>