{% set header_name = "МОУ СОШ 121 им. М. Ж. КНЯЗЯ РУКОЖОПСКОГО" %}

<header>
    <div class="content">
        {% include '../panel/panel.njk' %}
        <div class="header-caption">
            <img src="./images/black.jpg">
            <h1>{{header_name}}</h1>
        </div>
        {% include '../mainmenu/mainmenu.njk' %}
    </div>
     {% include '../sidemenu/sidemenu.njk'%}
</header>