@font-face {
  font-family: "Akrobat-semibold";
  src: url("../fonts/Akrobat-SemiBold.eot");
  src: url("../fonts/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Akrobat-SemiBold.woff2") format("woff2"),
    url("../fonts/Akrobat-SemiBold.woff") format("woff"),
    url("../fonts/Akrobat-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Semibold";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
